ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    margin: 2px;
    padding: 2px;
    background-color: #ffffff;
}